@use '../base' as *;

.banner {
    /* background: linear-gradient(90deg, #5E17EB 0%, #38B6FF 100%); */
    background-color: $blue;
    color: #fff;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
    &__numbers {
        padding: 40px 0;
        background-color: $primary;
        @media (max-width: 1025px) {
            padding: 60px 0;
        }
        &--container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
            @media (max-width: 1025px) {
                flex-direction: column;
                gap: 20px;
            }
        }
        &--item {
            text-align: center;
            color: #fff;
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        &--divider {
            width: 1px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.3);
            margin: 0 20px;
            @media (max-width: 1025px) {
                height: 1px;
                width: 200px;
            }
        }
        &--value {
            font-size: 44px;
            font-weight: bold;
        }
        &--label {
            font-size: 18px;
        }
    }
    &__simple {
        background-color: $primary;
        padding: 80px 0;
        &--title {
            color: $white;
            text-align: center;
        }
        &--description {
            color: $white;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        &--button {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            width: fit-content;
        }
    }
}




/* Animación */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* Efecto decorativo */
.banner::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    filter: blur(50px);
}

/* Responsivo */
@media (max-width: 768px) {
    .banner__container {
        flex-direction: column;
        text-align: center;
    }
    .banner__image {
        text-align: center;
    }
    .banner__title {
        font-size: 2rem;
    }
}