@use '../base' as *;

.booking {
  display: flex;
  gap: 12px;
  @media (max-width: 1025px) {
    flex-direction: column;
  }
  &__content {
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__card {
    background-color: $white;
    border-radius: 20px;
    border: 1px solid rgba($primary, 0.2);
    padding: 30px;
    &--title {
      font-size: 24px;
      font-weight: 600;
      color: $primary;
      display: flex;
      align-items: center;
      gap: 15px;
      @media (max-width: 1025px) {
        font-size: 18px;
      }
    }
    &--content {
      margin-top: 20px;
      display: flex;
      gap: 12px;
      align-items: flex-start;
      @media (max-width: 1025px) {
        flex-direction: column;
      }
    }
    &--date {
      flex: 1;
    }
    &--divider {
      width: 1px;
      background-color: rgba($primary, 0.2);
      margin: 0 10px;
      min-height: 100px;
      @media (max-width: 1025px) {
        display: none;
      }
    }
    &--form {
      @media (max-width: 1025px) {
        margin-top: 10px;
      }
      &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;
        @media (max-width: 1025px) {
          display: flex;
          flex-direction: column;
        }
      }
      &-input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid rgba($primary, 0.3);
        border-radius: 8px;
        font-size: 14px;
        color: $primary;
        transition: all 0.3s ease;
        overflow: hidden;
        &.mx-datepicker{
          width: 100%;
          padding: 0;

          &:has(.mx-input:focus) {
            box-shadow: 0 0 0 1px #2563E1;
            border-color: #2563eb;
          }

          .mx-input {
            border: none;
            box-shadow: none;
            padding: 12px 15px;
            font-size: 14px;
            color: $primary;
            height: fit-content;
            &::placeholder {
              color: rgba($primary, 0.5);
            }
          }
        }
        // @include focus {
        //   border-color: $secondary;
        //   box-shadow: 0 0 5px rgba($secondary, 0.5);
        //   outline: none;
        // }
      }
      &-group {
        display: flex;
        flex-direction: column;
        label {
          font-size: 14px;
          font-weight: 600;
          color: $primary;
          margin-bottom: 5px;
        }
        &--full {
          grid-column: span 2;
        }
      }
      &-error {
        font-size: 12px;
        color: #ff4d4f;
        margin-top: 5px;

      }
    }
    &--hours {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      &-label {
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        margin-bottom: 10px;
      }
    }
    &--hour {
      padding: 10px 15px;
      border: 1px solid $primary;
      border-radius: 8px;
      font-size: 14px;
      color: $primary;
      cursor: pointer;
      transition: all 0.3s ease;
      @include hover {
        background-color: $primary;
        color: $white;
      }
      &.selected {
        background-color: $secondary;
        color: $white;
        border-color: $secondary;
      }
    }
    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      color: $white;
      font-weight: 700;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    &--cards {
      margin-top: 20px;
      width: 100%;
      position: relative;
      .js-specialist-slider {
        .slick-arrow {
          color: $primary;
          &::before {
            color: $primary;
            
          }
        }
      }
    }
    &--help {
      margin-top: 10px;
      p {
        font-size: 14px;
        color: rgba($text, 0.85);
      }
    }
    &--specialist {
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      width: 100%;
      border: 1px solid rgba($primary, 0.2);
      overflow: hidden;
      background-color: rgba($primary, 1);
      transition: all 0.3s ease;
      min-height: 290px;
      cursor: pointer;
      &.active{
        border: 2px solid $secondary;
        background-color: $secondary;
        box-shadow: 0 4px 15px rgba($primary, 0.3);
        .booking__card--specialist-specialty {
          color: $white;
        }
      }
      @include hover {
        box-shadow: 0 4px 15px rgba($primary, 0.3);
      }
      &-photo {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 0 -25px;
      }
      &-content {
        padding: 15px;
      }
      &-name {
        font-size: 18px;
        font-weight: 600;
        color: $white;
        margin-bottom: 5px;
      }
      &-specialty {
        font-size: 14px;
        color: $secondary;
      } 
    }
    &--info {
      display: flex;
      flex-direction: column;
      background-color: rgba($secondary, 0.5);
      padding: 20px;
      margin-top: 20px;
      border-radius: 15px;
      i {
        width: 30px;
        height: 30px;
      }
      &-title {
        font-size: 18px;
        font-weight: 600;
        color: $primary;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-content {
        margin-top: 10px;
        p {
          font-size: 12px;
          color: $primary;
          margin-bottom: 8px;
        }
      }
    }
  }
  &__aside {
    // width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--sticky {
      position: sticky;
      top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &--legend {
      font-size: 12px;
      color: rgba($white, 0.8);
      text-align: center;
    }
    &--specialist {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      border-bottom: 1px solid rgba($white, 0.2);
      &-photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rgba($primary, 0.3);
      }
      &-info {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
      }
      &-name {
        font-size: 18px;
        font-weight: 600;
        color: $white;
      }
      &-role {
        font-size: 14px;
        color: $secondary;
      }
    }
    &--card {
      background-color: $primary;
      border-radius: 20px;
      border: 1px solid rgba($primary, 0.2);
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &--title {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--content {
      font-size: 14px;
      color: $white;
      p {
        margin-bottom: 8px;
        color: $white;
      }
    }
    &--submit {
      margin-top: auto;
      padding: 10px 15px;
      background-color: $secondary;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:disabled {
        background-color: rgba($secondary, 0.5);
        cursor: not-allowed;
        filter: grayscale(1);
      }
      @include hover {
        &:not(:disabled) {
          background-color: darken($secondary, 10%);
        }
      }
    }
  }
}