$primary: #26467b; 
$secondary: #43a577; 
$terciary: #5fb7e4; 
$blue: #fff;
$gray: #1d2315;
$text: #132540; // dark
$black: #1E1E1E; // dark
$white: #FFFFFF; // white

.bg-primary {
    background-color: $primary;
}