$primary: #26467b; 
$secondary: #41d28f; 
$terciary: #5fb7e4; 
$blue: #fff;
$blue-dark: #0d2750; 
$gray: #1d2315;
$text: #132540; // dark
$black: #1E1E1E; // dark
$white: #FFFFFF; // white
$light-gray: #f7f7f7;

.bg-primary {
    background-color: $primary;
}